<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">


    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>servlets.ServletRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletProfile</servlet-name>
        <servlet-class>servlets.ServletProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProfile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletMain</servlet-name>
        <servlet-class>servlets.ServletMain</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletMain</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletNews</servlet-name>
        <servlet-class>servlets.ServletNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletNews</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletPost</servlet-name>
        <servlet-class>servlets.ServletPosts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPost</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletPostCreate</servlet-name>
        <servlet-class>servlets.ServletPostCreate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPostCreate</servlet-name>
        <url-pattern>/post/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEditUser</servlet-name>
        <servlet-class>servlets.ServletEditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEditUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletUploadPhoto</servlet-name>
        <servlet-class>servlets.ServletPhotoUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUploadPhoto</servlet-name>
        <url-pattern>/uploadPhoto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletGetNews</servlet-name>
        <servlet-class>servlets.ServletGetNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGetNews</servlet-name>
        <url-pattern>/getnews</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChat</servlet-name>
        <servlet-class>servlets.ServletChat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChat</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletChatData</servlet-name>
        <servlet-class>servlets.ServletChatData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletChatData</servlet-name>
        <url-pattern>/chatdata</url-pattern>
    </servlet-mapping>
</web-app>